<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>156680688055-7k0tum33usl105p8pp6lctvrqsm2l0bi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.156680688055-7k0tum33usl105p8pp6lctvrqsm2l0bi</string>
	<key>API_KEY</key>
	<string>AIzaSyAU8sAbNmZy8yuooC7lmRyprctMCUDE-IM</string>
	<key>GCM_SENDER_ID</key>
	<string>156680688055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.negfeed.gonna</string>
	<key>PROJECT_ID</key>
	<string>gonna-sandbox</string>
	<key>STORAGE_BUCKET</key>
	<string>gonna-sandbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:156680688055:ios:7d298a068ba49a292c1832</string>
</dict>
</plist>